{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 29, "knowledge_revision": 66, "git_revision": "f92aa3aa029420fab55e7a3c983ff734e5d609f6", "hash": "170a72935aba7e05b992a628bf16ae12", "format-version": 4, "code-base-name": "default", "filename": "ticketing_backend_workspace/ticketing_backend/requirements.txt", "revision_history": [{"66": "f92aa3aa029420fab55e7a3c983ff734e5d609f6"}]}